@using Microsoft.AspNetCore.Identity
@using Korisnik.Areas.Identity.Data
@using Korisnik.ViewModel

@model IndexViewModel

@inject SignInManager<ApplicationKorisnik> SignInManager
@inject UserManager<ApplicationKorisnik> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobrodosli</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="btn-group-vertical">
            <button type="button" class="btn btn-dark">
                Poslata <span class="badge badge-light col-md-3">@Model.BrojIzazova</span>
            </button>
            <a type="button" class="btn btn-info btn-lg" asp-area="" asp-controller="Korisnik" asp-action="ListaKorisnika">Posalji NOV IZAZOV</a>

        </div>
           

        
    }
</div>

