@using Microsoft.AspNetCore.Identity
@using Korisnik.Areas.Identity.Data
@using Korisnik.ViewModel

@model Index_ViewModel

@inject SignInManager<ApplicationKorisnik> SignInManager
@inject UserManager<ApplicationKorisnik> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobrodosli</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="btn-group-vertical h-100">
            @if (Model.BrojIzazova != "0")
            {
                <a type="button" class="btn btn-dark" asp-area="" asp-controller="Poslati" asp-action="Izazov">
                    Poslata <span class="badge badge-light col-md-3">@Model.BrojIzazova</span>
                </a>
            }
            <a type="button" class="btn btn-info btn-lg" asp-area="" asp-controller="Posalji" asp-action="Izazov">Posalji NOV IZAZOV</a>
            @if (Model.IzazvanBroj != "0")
            {
                <a type="button" class="btn btn-warning" asp-area="" asp-controller="Dobijeni" asp-action="Izazov"> DOBILI STE @Model.IzazvanBroj  </a>
            }
        </div>
        <br />
        <br />
        <a type="button" class="btn btn-success"  asp-controller="Prihvaceni" asp-action="Izazov">
            Poslata <span class="badge badge-light col-md-3" style="width:auto">@Model.BrojPrihvacenih</span>
        </a>

    }
</div>

