@using Microsoft.AspNetCore.Identity
@model Index_ViewModel

@inject SignInManager<Korisnici> SignInManager
@inject UserManager<Korisnici> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Glavni interfejs</b></h1>
    <h4> <b style="color:red">ZA KORISNIKE</b></h4>
    @if (TempData["obavestenje"] != null)
    {
        <div class="col-sm-12 text-center">
            <div class="alert alert-primary">
                @TempData["obavestenje"]
            </div>
        </div>
    }
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="user-card">
            <div class="user-img">
                <img src="~/img/user-img.jpg" />
            </div>
            <a class="btn btn-info" asp-area="" asp-controller="Posalji" asp-action="Izazov">NOV IZAZOV</a>
            <hr>
            <div class="btn-container">
                <a class="btn btn-dark" asp-area="" asp-controller="Poslati" asp-action="Izazov"><p>Poslati: </p><span>@Model.BrojIzazova</span></a>
                <a class="btn btn-warning" asp-area="" asp-controller="Dobijeni" asp-action="Izazov"><p>Dobijeni: </p><span>@Model.IzazvanBroj</span></a>
                <a class="btn btn-success" asp-controller="Prihvaceni" asp-action="Izazov"><p>Prihvaceni: </p><span>@Model.BrojPrihvacenih</span></a>
            </div>
        </div>
    }
</div>


<style>
    .user-card {
        display: block;
        margin: 50px auto 0 auto;
        width: 500px;
        height: 570px;
        background-color: #464646;
        border-radius: 3%;
        text-align: center;
        padding-top: 30px;
        color: white;
        -webkit-box-shadow: 5px 5px 8px 10px #888888;
        box-shadow: 5px 5px 8px 10px #888888;
    }

        .user-card hr {
            background-color: white;
        }

    .user-img {
        width: 300px;
        height: 300px;
        display: block;
        margin: 0 auto 10px auto;
        
    }
        .user-img img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }

    .btn-info {
        margin-bottom: 10px;
        height: 50px;
        width: 200px;
    }

    .btn-container {
        margin-top: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 90px;
        width: 100%;
    }

        .btn-container .btn {
            position: relative;
            width: 100%;
            border-radius: 0;
            color:white;
        }

        .btn-container p {
            position: absolute;
            top: 2px;
            left: 5px;
            font-weight: bold;
        }

        .btn-container span {
            position: relative;
            font-size: 50px;
            top: 10px;
        }

</style>

