<head>
    <style>
    img {
      -webkit-filter: grayscale(90%);
      filter: grayscale(90%); 
      width: 100%; 
      margin: auto;
    }
    </style>
</head>
<body>
    <div class="text-center">
    <h1>Platforma za izazivanje</h1>
    <h5>Registrujte se da bi mogli da izazivate</h5>

    <a href="~/Identity/Account/Register" class="btn btn-primary">Registrujte se</a>
    <a href="~/Identity/Account/Login" class="text-primary">Ulogujte se</a>
    </div>

    <img src="~/img/bg-masthead.jpg" alt="Kontinenti" />

   
</body>