@using Korisnik.ViewModel.Enum
@model PosaljiIzazov_ViewModel

@{ ViewData["Title"] = "ListaKorisnika";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@{ int i = 1; }
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


@if (Model.ApplicationKorisnik.Any())
 {
    <div class="text-danger" asp-validation-summary="All"></div>
    <form method="post">
    <div class="row">
        <div class="col-sm-6" >
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class="card-title">Izaberite Vreme</h5>
                    <p class="card-text">U koje zelite da odigrate izazov sa drugim korisnikom</p>
                    <label for="date">Datum: </label><input asp-for="Datum" value="date" type="date" />
                    <label for="time">Vreme: </label><input asp-for="Vreme" value="date" type="time" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card text-white bg-dark">
                <div class="card-body" style="margin-bottom:10px">
                    <h5 class="card-title">Izaberite Mesto</h5>
                    <p class="card-text">Gde zelite da odigrate izazov sa drugim korisnikom</p>
                    <select asp-for="Mesto"
                            asp-items="Html.GetEnumSelectList<Mesta>()">
                        <option value="">Selektuj mesto</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <h1 style="margin-top:20px">Izaberite  Korisnika</h1>


    <table class="table table-hover table-dark">

        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ime</th>
                <th scope="col">Prezime</th>
                <th scope="col">Stikliraj</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var list in Model.ApplicationKorisnik)
            {
<tr>
    <td>@Convert.ToString(i++)</td>
    <td>@list.Ime</td>
    <td>@list.Prezime</td>
    <td>
        <div class="form-group">
            <input asp-for="IdIzazvanog" value="@list.Id" type="checkbox" />
        </div>
    </td>
</tr>}
        </tbody>
    </table>

    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg">Posalji</button> <a type="button" asp-controller="home" asp-action="Index" class="btn btn-secondary btn-sm">Pocetna</a> 
    </div>
</form>
 }
 else
 {
     <h2>NEMA DRUGIH REGISTROVANIH KORISNIKA</h2>
     <a type="button" asp-controller="home" asp-action="Index" class="btn btn-secondary">Pocetna</a>
 }


@section Scripts{
    <script>$("input:checkbox").on('click', function () {
            var $box = $(this);
            if ($box.is(":checked")) {
                var group = "input:checkbox[name='" + $box.attr("name") + "']";
                $(group).prop("checked", false);
                $box.prop("checked", true);
            } else {
                $box.prop("checked", false);
            }
        });</script>
}